page-place {

  .toolbar-background{
    background-color: #b31c1c;

  }
  .toolbar-title{
    color: ivory;
  }

  .scroll-content{
    background-color: #241d1d ;
  }

  .scroll-content p{
    color: ivory;
  }

  .scroll-content .button-md{
    color: #231b1d;
  }



}
